*{
    margin: 0;
    padding: 0;
}


/* Navigation Styling */
nav{
    display: flex;
    justify-content: flex-end;
    background-color: green;
    padding: 10px;
}

nav a{ 
    margin: 10px;
    color: white;
    text-decoration: none;
}
/* NOTES: 
- Lets add animations and color changes when user hovers over nav links */


/* Footer Styling */
footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: green;
   color: white;
   text-align: center;
   padding: 20px;
}
/* NOTES: 
- Add elements to make this look like a REAL footer */