*{
    margin: 0;
    padding: 0;
}


/* Navigation Styling */
nav{
    display: flex;
    justify-content: flex-end;
    background-color: green;
    padding: 10px;
}

nav a{ 
    margin: 10px;
    color: white;
    text-decoration: none;
}
/* NOTES: 
- Lets add animations and color changes when user hovers over nav links */

/* Home Page styling */

.home-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title{
    margin: 20px 0;
}

.home-about-summary-section{
    margin: 10px 0;
    background-color: lightgray;
    padding: 20px;
}

#lesson-carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.home-lesson-card{
    width: 300px;
    text-align: center;
    background-color: lightgrey;
    margin: 0px 10px;
    padding: 10px;
}

.home-lesson-section{
    padding-top: 10px;
}

.home-lesson-section h2{
    text-align: center;
}

/* Student loan styling */
ul, ol{
    margin-left: 50px;
}

/* Quiz Styling */
#quiz-container{
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 20px;
}

.quiz-title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

#quiz-options-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* Footer Styling */
footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: green;
   color: white;
   text-align: center;
   padding: 20px;
}
/* NOTES: 
- Add elements to make this look like a REAL footer */